<!-- ユーザーの詳細　部分テンプレート -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
<% if @user == current_user %>
 <p><%= link_to "edit", edit_user_path(@user) %></p>
<% end %>
</div>

<!-- ユーザーの投稿一覧 右ページ-->

<h1>Books</h1>
<h4>Title</h4>
<h4>Opinion</h4>
<% @books.each do |books| %>
<div>
  <%= image_tag books.user.get_profile_image(100,100) %>
  <p><%= books.title %></p>
  <p><%= books.body %></p>
  <%= books.user.name %>
</div>
<% end %>