<!-- ユーザーの詳細　部分テンプレート -->
<%= render 'books/list', user:@user ,book:@book %>
<!-- ユーザーの投稿一覧 右ページ-->

<h1>Books</h1>
<h4>Title</h4>
<h4>Opinion</h4>
<% @books.each do |books| %>
<div>
  <%= image_tag books.user.get_profile_image(100,100) %>
  <%= link_to books[:id], book_path(books[:id])  %>
  <p><%= books.body %></p>
  <%= books.user.name %>
</div>
<% end %>