<!--フラッシュメッセージ-->
<%= flash[:notice] %>
<!--部分テンプレート-->
<%= render 'books/list', user:@user ,book:@book %>

<h1>Editing Book</h1>
<%= form_with model: Book do |f| %>
<!--作成された内容の編集ができるようにする-->
<h4>Title</h4>
<%= f.text_field :title %>

<h4>Opinion<h4>
<%= f.text_field :body %>


<%= f.submit 'Update Book' %>

<% end %>
<!--showとbackリンクの作成-->
<%= link_to "Show", book_path(@book[:id]) %>|
<%= link_to "Back", books_path %>
