<!--部分テンプレートで表示する-->

<!--ログインしているユーザーの情報-->
<h1>User info</h1>
<% @user = current_user %>
<%= image_tag @user.get_profile_image(100,100) %>
<h4>name</h4>
<p><%= @user.name %></p>
<h4>introduction</h4>
<p><%= @user.introduction %></p>
<!-- user自己紹介文 -->
<!--users/editボタンの表示-->
<button>
 <%= link_to "アイコン", edit_user_path(@user)  %>
</button>


<!--新規投稿-->
<h1>New book</h1>
<%= form_with model: @book do |f| %>
<h4>Title</h4>
 <%= f.text_field :title %>
<h4>Opinion</h4>
 <%= f.text_area :body %>
 <%= f.submit 'CreateBook' %>
<% end %>


<!--右側に表示する部分（URLで変更する-->


<h1>Books</h1>
<h4>Title</h4>
<h4>Opinion</h4>
<% @books.each do |book| %>
 <div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <span><%= link_to book.title,"/books/#{book.id}" %></span>
  <p><%= book.body %></p>
  <a><%= book.user.name %></a>
 </div>

 <% end %>