<!--部分テンプレートで表示する-->
<% render 'layouts/header' %>
<!--ログインしているユーザーの情報-->
<%= render 'books/list', user:@user ,book:@book %>

<!--右側に表示する部分（URLで変更する-->

<h1>Books</h1>
<h4>Title</h4>
<h4>Opinion</h4>
<% @books.each do |book| %>
 <div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <span><%= link_to book.title,"/books/#{book.id}" %></span>
  <p><%= book.body %></p>
  <a><%= book.user.name %></a>
 </div>
 <% end %>
 <% render 'layouts/footer' %>
