<!--headerテンプレート-->
<% render 'layouts/header' %>
<!--ユーザー情報などの部分テンプレート-->
<%= render 'books/list', user:@user ,book:@book %>

<div>
 <h1>Book detail</h1>
 <p>投稿ユーザー画像：<%= image_tag @user.get_profile_image(100,100) %></p>
 <a><%= @book.user.name %></a>
 <!--投稿したタイトルのリンク表示-->
 <%= link_to "book", book_path(@book[:id]) %>
 <%= @book.body %>
 <!--editボタンとdestroyボタンの追加-->
 <% if @book.user == current_user %>
  <%= link_to "Edit", edit_book_path(@book)  %>
  <%= link_to "Destroy", book_path(@book),method: :delete %>
 <% end %>
</div>
<!--フッターのテンプレート-->
  <% render 'layouts/footer' %>