<!--ユーザー情報などの部分テンプレート-->
<div class="container px-5 px-sm-0 ">
<div class="row">
 <div class="col-md-3">
<%= render 'books/list', user:@user ,book:@book %>
</div>

<div class="col-md-8 offset-1">
 <h2>Book detail</h2>
<table class="table table-hover table-inverse">
 <tobody>
 <tr>
  <td><%= image_tag @user.get_profile_image(80,80) %>
   <br><%= link_to @user[:name], user_path(@user[:id]) %>
     </td>

  <td><%= link_to @book[:id], book_path(@book[:id]) %></td>
  <td><%= @book.body %></td>
  <% if user_signed_in? && current_user.id == @book.user_id %>
  <div class="row">
  <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success edit_book_path(@book)" %></td>
  <td><%= link_to "Destroy", book_path(@book),  method: :delete ,data: {confirm: "本当に削除しますか？"}, class:"btn btn-sm btn-danger destroy_books_path"  %></td>
  </div>
 <% end %>
 </tr>
 </tobody>
</table>
</div>